[[source]]
url = "https://pypi.douban.com/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
lxml = "*"
fake-useragent = "*"
flake8 = "*"
black = "*"
jsonpath = "*"
parsel = "*"
pyinstrument = "*"
pandas = "*"
aiohttp = "*"
loguru = "*"

[dev-packages]

[requires]
python_version = "3.9"
